@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;900&display=swap");
root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --normallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}
@media screen and (min-width:800px) {
    .activity{
        display: none;
    }
}
.activity {
    // margin-top: 80rem;
    margin-bottom: 5rem;
    padding: 0rem;
   
    background-color: white;
    // color: aliceblue;
    height: 100vh;
    width: 90vw;
    h2{
        font-weight: 500;
        margin-top: -20px;
        font-size: 50px; 
    color:#123556;
    text-align: center;
    }
    .box1 {
        padding: 0;
        height: 100vh;
        justify-content: center;
        img {
            height: 100vh;
            width: 90vw;
            padding-left: 3rem;
            
        }
        h3{
         text-align: center;
         font-size: 40px;
         font-weight: 600;
         justify-content: center;
         margin-top: -40%;
         color: aliceblue;
         
        }
       
    }
    .box2 {
        padding: 0;
        height: 100vh;
        justify-content: center;
       
        img {
            height: 100vh;
            width: 90vw;
            padding-left: 3rem;
            
        }
        h3{
         text-align: center;
         font-size: 40px;
         font-weight: 600;
         justify-content: center;
         margin-top: -40%;
         color: aliceblue;
         
        }
       
    }
    .box3 {
        padding: 0;
        height: 100vh;
        justify-content: center;
        img {
            height: 100vh;
            width: 90vw;
            padding-left: 3rem;
            
        }
        h3{
         text-align: center;
         font-size: 40px;
         font-weight: 600;
         justify-content: center;
         margin-top: -40%;
         color: aliceblue;
         
        }
       
    }
    .box4 {
        padding: 0;
        height: 100vh;
        justify-content: center;
        img {
            height: 100vh;
            width: 90vw;
            padding-left: 3rem;
            
        }
        h3{
         text-align: center;
         font-size: 40px;
         font-weight: 600;
         justify-content: center;
         margin-top: -40%;
         color: aliceblue;
         
        }
       
    }
}